@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Playwrite+MX+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*<========== common style start =========>*/
.container{
    width: 1320px;
    margin: 0 auto;  
}

.btn-1{
    
    background-color: aliceblue;
    padding: 15px 30px;
    border: none;
    border: 1px solid #006A50;
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
}

.btn-2{
    margin-top: 24px;
    padding: 17px;
    background-color:#006A50;
    border-radius: 8px;
    color: #FFFFFF;
    width: 270px;
    border: none;

}
.btn-3{
    margin-top: 55px;
    margin-bottom: 30px;
    padding: 11px;
    width: 125px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: #5490F5;
}
.btn-4{
    margin-top: 32px;
    margin-bottom: 30px;
    padding: 20px;
    width: 139px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: #006A50;
}
.futute-para{
    margin-top: 15px;  
}
.future-btn{
    font-size: 16px;
    font-weight: 400;
}
.btn-1:hover{
    background-color: #5490F5;
}
.btn-2:hover{
    background-color: #5490F5;
}
.btn-3:hover{
    background-color: #80d36f;
}
.btn-4:hover{
    background-color: #5490F5;
}

.active{
    background-color: #C6E4D6;
}
.taka:hover{
    background-color: rgb(203, 78, 207);
}
/*<========== common style end =========>*/
/*<==========navber start =========>*/
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
    line-height: auto;
    
}

/*<========== navber end =========>*/
/*<========== banner start =========>*/
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin-top: 20px;
    border-radius: 24px;
    padding: 117px 59px;
}
.banner-sub-title{
    font-weight: medium;
    font-size: 24px;
    color: #3e4041;
    line-height: auto;
    margin-bottom: 16px;
}

.banner-title{
    font-weight: bold;
    line-height: auto;
    font-size: 56px;
    color: #0E0E0E;
}
/*<========== banner end =========>*/

/*<========== pimiller start =========>*/
.pimiller{
    margin-top: 80px;
    margin-bottom: 80px;
}
.pimiller-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pimiller-title{
    font-weight: bold;
    line-height: auto;
    font-size: 40px;
    color: #0E0E0E;
}
.pimiller-box1{
    width: 302px;
    border: 1px solid rgb(235, 229, 229);
    border-radius: 16px;
    padding: 24px;
    margin-top: 32px;
    background-color: #FFFFFF;
    opacity: 100%;
}
.pimiller-des{
    font-weight: bold;
    font-size: 20px;
    line-height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*<==========navber start =========>*/

/*<========== future start =========>*/
.future-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.future-box2{
    width: 410px;
    border: 1px solid rgb(235, 229, 229);
    border-radius: 16px;
    padding: 24px;
    margin-top: 32px;
    background-color: #FFFFFF;
    opacity: 100%;
}
.future-bangla{
     margin-top: 10px;
}
.future-col1{
    background-color: #DCE7FA;
}
.future-col2{
    background-color: #C6E4D6;
}
.future-col3{
    background-color: #F7EBCF;
}
.yonus{
    margin-top: 32px;
    padding: 48px 24px;
    border: 1px solid #e9e1e1;
    border-radius: 16px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: 5%;
}
.yonus-des{
    font-size: 16px;
    line-height: 24px;
}
.dr-yonus{
    font-weight: semibold;
    font-size: 20px;
}
/*<========== future end =========>*/

/*<========== resent start =========>*/
.resent{
    margin-top: 80px;
    background-color: #fff;
    gap: 50px;  
}
.parent{
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 48px;
     margin-top: 50px;
     border: 1px solid rgb(235, 230, 230);
     border-radius: 24px;
     text-align: justify;
  }
  .resent-title{
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
    margin-bottom: 24px;
   
  }
.child-des{
    margin-top: 10px;
    margin-bottom: 10px;
}
.parent-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    box-shadow: 4px 8px 6px rgb(112, 112, 226);
    text-align: start;
}
.child-content{
    margin-left: 32px;
}
.child-img-img{
    border-radius: 24px;
}
.clild-content-img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.clild-content-title{
    font-size: 32px;
     font-weight: bold;
    line-height: auto;
    color:  #0E0E0E;
}
/*<========== resent end =========>*/

/*<========== danate start =========>*/
.donate{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    padding: 104px;
}
.donate-parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 32px;
}
.donate-child{
    border-radius: 16px;
    border: 1px solid rgb(228, 222, 222); 
}
.donate-title{
      font-size: 40px;
      font-weight: bold;
      line-height: auto;
      padding: 40px;
      color: #0E0E0E;
}
.input-number{
    width: 1032px;
    padding: 20px;
    text-align: center;
    border: none;
    border: 1px solid rgb(228, 222, 222); 
}
/*<========== danate end =========>*/
/*<==========cart start =========>*/

.card-section{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #C6E4D6;
    border: 1px solid rgb(240, 207, 207);
    border-radius: 24px;
    padding: 80px 100px;
       
 }
 .card-title{
    font-size: 40px;
    font-weight: bold;
    line-height: auto; 
    margin-bottom: 16px;
 }
 form.example input[type=email] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 5px;
    border: none;
    float: left;
    width: 600px;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}
.subscribe{
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}
.subscribe-des{
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
}
.btn{
    /* border-radius: 25px; */
    text-align: center;
    float: left;
    /* width: 20%; */
    padding: 5px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*<==========navber start =========>*/
.container-finall{
    margin-top: 80px;
    text-align: center;
    border: 1px solid rgb(231, 231, 231);
}
.finall-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin-bottom: 50px;
}
.nur{
    width: 1120px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border: 1px solid #f8f5f5;
}